IS_LOCALHOST=true
SERVER_PORT=5001
APPLICATION_ENVIRONMENT=
AWS_ACCESS_KEY_ID=
AWS_ACCOUNT_ID=210839372406
AWS_BUCKET_ACCESS_KEY_ID=
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_BUCKET_SECRET_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
SERVERLESS_PROVIDER_REGION=eu-west-1
SECRET_KEY=
DATABASE_CONNECTION_URI=